export K3S_TOKEN="27FA77EA-7CB1-4590-8D92-E03529C790C9"
export K3S_VERSION="v1.27.4-k3s1"
export KUBECONFIG="${PWD}/tmp/k3s/kubeconfig.yaml"
mkdir -p "${PWD}/tmp/k3s/server"

# K3D
export K3D_CLUSTER_NAME="oper"
export K3D_REGISTRY_NAME="oper-registry"
export K3D_REGISTRY_PORT="7001"
export K3D_REGISTRY_ADDR="k3d-${K3D_REGISTRY_NAME}:${K3D_REGISTRY_PORT}"

if [[ -n "$(k3d cluster list | tail -n +2)" ]]; then
  export KUBECONFIG=$(k3d kubeconfig write "${K3D_CLUSTER_NAME}")
fi
